<footer class="bg-white">
  <div class="mx-auto max-w-7xl px-6 pt-16 pb-8 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8 flex flex-col justify-center items-center">
        <img src="icons/icon.png" class="w-28" alt="FamaYa">
        <p class="text-sm/6 text-balance text-gray-600">#1 Mejor Vendido en Servicios de Redes Sociales.</p>
        <div class="flex items-center justify-center md:justify-start space-x-1">
          <img alt="PayPal" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="h-auto w-[45px]" style="color:transparent" src="icons/paypal.svg">
          <img alt="Visa" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="h-auto w-[45px]" style="color:transparent" src="icons/visa.svg">
          <img alt="Mastercard" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="h-auto w-[45px]" style="color:transparent" src="icons/mastercard.svg">
          <img alt="American Express" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="h-auto w-[45px]" style="color:transparent" src="icons/american-express.svg">
          <img alt="Apple Pay" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="h-auto w-[45px]" style="color:transparent" src="icons/apple-pay.svg">
          <img alt="Google Pay" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="h-auto w-[45px]" style="color:transparent" src="icons/google-pay.svg">
        </div>
      </div>
      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm/6 font-semibold text-gray-900">Nuestros servicios</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm/6 text-gray-600 hover:text-gray-900">Instagram</a>
              </li>
              <li>
                <a href="#" class="text-sm/6 text-gray-600 hover:text-gray-900">Facebook</a>
              </li>
              <li>
                <a href="#" class="text-sm/6 text-gray-600 hover:text-gray-900">Tiktok</a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm/6 font-semibold text-gray-900">Legal</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm/6 text-gray-600 hover:text-gray-900">Términos y condiciones</a>
              </li>
              <li>
                <a href="#" class="text-sm/6 text-gray-600 hover:text-gray-900">Política de privacidad</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm/6 font-semibold text-gray-900">Enlaces útiles</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm/6 text-gray-600 hover:text-gray-900">Reseñas</a>
              </li>
            </ul>
          </div>
          <div>
            <h3 class="text-sm/6 font-semibold text-gray-900">Contáctenos</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm/6 text-gray-600 hover:text-gray-900">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-16 border-t border-gray-900/10 pt-8 sm:mt-20">
      <p class="text-sm/6 text-gray-600">&copy; 2024 Your Company, Inc. All rights reserved.</p>
    </div>
  </div>
</footer>
