
<header class="fixed top-0 z-30 w-full bg-white/70 backdrop-blur-sm">
  <app-banner-promo/>
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img src="icons/icon.png" class="w-16" alt="FamaYa">
      </a>
    </div>
    <div class="flex lg:hidden">
      <div class="flow-root mr-5">
          <button (click)="changeShoppingCart(true)" class="group -m-2 flex items-center p-2 cursor-pointer relative">
            <svg class="size-6 shrink-0 text-gray-400 group-hover:text-gray-800" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"></path>
            </svg>
            <span class="ml-1 text-xs font-medium text-gray-50 group-hover:text-gray-100 absolute top-0 right-0 py-0.5 px-1.5 rounded-full bg-gradient-to-r from-purple-400 to-fuchsia-600">0</span>
            <span class="sr-only">items in cart, view bag</span>
          </button>
      </div>
      <button type="button" (click)="showMenu()" class="-m-2.5 inline-flex cursor-pointer items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <!-- Menú Desktop-->
    <div [class]="btnMenu?'block ':'hidden'" class="hidden lg:flex lg:gap-x-12 mr-[21%]">
      <div class="relative group pb-3">
        <button type="button" class="flex items-center gap-x-1 text-sm font-semibold text-gray-900" aria-expanded="false">
          Instagram
          <svg class="size-5 flex-none transition-transform duration-300 group-hover:rotate-180" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
          </svg>
        </button>
        <!-- Menú flotante Instagram desktop-->
        <div class="absolute top-5 -left-8 z-10 mt-3 w-screen max-w-xs overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 opacity-0 translate-y-1 pointer-events-none transition-all duration-300 ease-out group-hover:opacity-100 group-hover:translate-y-0 group-hover:pointer-events-auto">
          <div class="p-3 [&>div]:p-3">
            <div class="group relative flex gap-x-6 rounded-lg text-sm/6 hover:bg-gray-50">
              <div class="mt-1 flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
                  <defs>
                    <linearGradient id="instaGradient" x1="0" y1="0" x2="1" y2="1">
                      <stop offset="0%" stop-color="#86198f" />   <!-- fuchsia-800 -->
                      <stop offset="50%" stop-color="#dc2626" />  <!-- red-600 -->
                      <stop offset="100%" stop-color="#f59e0b" /> <!-- yellow-500 -->
                    </linearGradient>
                  </defs>
                  <path d="M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM3.465 14.493a1.23 1.23 0 0 0 .41 1.412A9.957 9.957 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003Z"
                  fill="url(#instaGradient)" />
                </svg>
              </div>
              <div class="flex-auto">
                <a [routerLink]="['/instagram-followers']" class="block font-semibold text-gray-900">
                  Seguidores
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-gray-600">Obten seguidores en instagram</p>
              </div>
            </div>
            <div class="group relative flex gap-x-6 rounded-lg text-sm/6 hover:bg-gray-50">
              <div class="mt-1 flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
                  <defs>
                    <linearGradient id="instaGradient" x1="0" y1="0" x2="1" y2="1">
                      <stop offset="0%" stop-color="#86198f" />   <!-- fuchsia-800 -->
                      <stop offset="50%" stop-color="#dc2626" />  <!-- red-600 -->
                      <stop offset="100%" stop-color="#f59e0b" /> <!-- yellow-500 -->
                    </linearGradient>
                  </defs>
                  <path d="m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z"
                   fill="url(#instaGradient)" />
                </svg>
              </div>
              <div class="flex-auto">
                <a [routerLink]="['/instagram-likes']" class="block font-semibold text-gray-900">
                  Likes
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-gray-600">Obten likes en instagram</p>
              </div>
            </div>
            <div class="group relative flex gap-x-6 rounded-lg text-sm/6 hover:bg-gray-50">
              <div class="mt-1 flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
                  <defs>
                    <linearGradient id="instaGradient" x1="0" y1="0" x2="1" y2="1">
                      <stop offset="0%" stop-color="#86198f" />   <!-- fuchsia-800 -->
                      <stop offset="50%" stop-color="#dc2626" />  <!-- red-600 -->
                      <stop offset="100%" stop-color="#f59e0b" /> <!-- yellow-500 -->
                    </linearGradient>
                  </defs>
                  <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" fill="url(#instaGradient)"/>
                  <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" clip-rule="evenodd" fill="url(#instaGradient)"/>
                </svg>
              </div>
              <div class="flex-auto">
                <a [routerLink]="['/instagram-views']" class="block font-semibold text-gray-900">
                  Visualizaciones
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-gray-600">Obten vistas en instagram</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="relative group pb-3">
        <button type="button" class="flex items-center gap-x-1 text-sm font-semibold text-gray-900" aria-expanded="false">
          Facebook
          <svg class="size-5 flex-none transition-transform duration-300 group-hover:rotate-180" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
          </svg>
        </button>

        <!-- Menú flotante Facebook desktop-->
        <div class="absolute top-5 -left-8 z-10 mt-3 w-screen max-w-xs overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 opacity-0 translate-y-1 pointer-events-none transition-all duration-300 ease-out group-hover:opacity-100 group-hover:translate-y-0 group-hover:pointer-events-auto">
          <div class="p-3 [&>div]:p-3">
            <div class="group relative flex gap-x-6 rounded-lg text-sm/6 hover:bg-gray-50">
              <div class="mt-1 flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
                  <defs>
                    <linearGradient id="facebookGradient" x1="0" y1="0" x2="1" y2="1">
                      <stop offset="0%" stop-color="#1e3a8a" />   <!-- blue-800 -->
                      <stop offset="50%" stop-color="#2563eb" />  <!-- blue-600 -->
                      <stop offset="100%" stop-color="#3b82f6" /> <!-- blue-500 -->
                    </linearGradient>
                  </defs>
                  <path d="M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM3.465 14.493a1.23 1.23 0 0 0 .41 1.412A9.957 9.957 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003Z"
                  fill="url(#facebookGradient)" />
                </svg>
              </div>
              <div class="flex-auto">
                <a [routerLink]="['/facebook-followers']" class="block font-semibold text-gray-900">
                  Seguidores
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-gray-600">Obten seguidores en facebook</p>
              </div>
            </div>
            <div class="group relative flex gap-x-6 rounded-lg text-sm/6 hover:bg-gray-50">
              <div class="mt-1 flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
                  <defs>
                    <linearGradient id="facebookGradient" x1="0" y1="0" x2="1" y2="1">
                      <stop offset="0%" stop-color="#1e3a8a" />   <!-- blue-800 -->
                      <stop offset="50%" stop-color="#2563eb" />  <!-- blue-600 -->
                      <stop offset="100%" stop-color="#3b82f6" /> <!-- blue-500 -->
                    </linearGradient>
                  </defs>
                  <path d="M1 8.25a1.25 1.25 0 1 1 2.5 0v7.5a1.25 1.25 0 1 1-2.5 0v-7.5ZM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0 1 14 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 0 1-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 0 1-1.341-.317l-2.734-1.366A3 3 0 0 0 6.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 0 1 2.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388Z"
                  fill="url(#facebookGradient)"/>
                </svg>
              </div>
              <div class="flex-auto">
                <a [routerLink]="['/facebook-likes']" class="block font-semibold text-gray-900">
                  Likes
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-gray-600">Obten likes en facebook</p>
              </div>
            </div>
            <div class="group relative flex gap-x-6 rounded-lg text-sm/6 hover:bg-gray-50">
              <div class="mt-1 flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
                  <defs>
                    <linearGradient id="facebookGradient" x1="0" y1="0" x2="1" y2="1">
                      <stop offset="0%" stop-color="#1e3a8a" />   <!-- blue-800 -->
                      <stop offset="50%" stop-color="#2563eb" />  <!-- blue-600 -->
                      <stop offset="100%" stop-color="#3b82f6" /> <!-- blue-500 -->
                    </linearGradient>
                  </defs>
                  <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" fill="url(#facebookGradient)"/>
                  <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" clip-rule="evenodd"
                  fill="url(#facebookGradient)"/>
                </svg>
              </div>
              <div class="flex-auto">
                <a [routerLink]="['/facebook-views']" class="block font-semibold text-gray-900">
                  Visualizaciones
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-gray-600">Obten vistas en facebook</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="relative group pb-3">
        <button type="button" class="flex items-center gap-x-1 text-sm font-semibold text-gray-900" aria-expanded="false">
          TikTok
          <svg class="size-5 flex-none transition-transform duration-300 group-hover:rotate-180" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
          </svg>
        </button>

        <!-- Menú flotante tiktok desktop-->
        <div class="absolute top-5 -left-8 z-10 mt-3 w-screen max-w-xs overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 opacity-0 translate-y-1 pointer-events-none transition-all duration-300 ease-out group-hover:opacity-100 group-hover:translate-y-0 group-hover:pointer-events-auto">
          <div class="p-3 [&>div]:p-3">
            <div class="group relative flex gap-x-6 rounded-lg text-sm/6 hover:bg-gray-50">
              <div class="mt-1 flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
                  <defs>
                    <linearGradient id="tiktokGradient" x1="0" y1="0" x2="1" y2="1">
                      <stop offset="0%" stop-color="#dc2626" />   <!-- red-600 -->
                      <stop offset="50%" stop-color="#0f0f0f" />  <!-- gray-950 -->
                      <stop offset="100%" stop-color="#22d3ee" /> <!-- cyan-400 -->
                    </linearGradient>
                  </defs>
                  <path d="M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM3.465 14.493a1.23 1.23 0 0 0 .41 1.412A9.957 9.957 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003Z"
                  fill="url(#tiktokGradient)" />
                </svg>
              </div>
              <div class="flex-auto">
                <a [routerLink]="['/tiktok-followers']" class="block font-semibold text-gray-900">
                  Seguidores
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-gray-600">Obten seguidores en tiktok</p>
              </div>
            </div>
            <div class="group relative flex gap-x-6 rounded-lg text-sm/6 hover:bg-gray-50">
              <div class="mt-1 flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
                  <defs>
                    <linearGradient id="tiktokGradient" x1="0" y1="0" x2="1" y2="1">
                      <stop offset="0%" stop-color="#dc2626" />   <!-- red-600 -->
                      <stop offset="50%" stop-color="#0f0f0f" />  <!-- gray-950 -->
                      <stop offset="100%" stop-color="#22d3ee" /> <!-- cyan-400 -->
                    </linearGradient>
                  </defs>
                  <path d="m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z"
                   fill="url(#tiktokGradient)" />
                </svg>
              </div>
              <div class="flex-auto">
                <a [routerLink]="['/tiktok-likes']" class="block font-semibold text-gray-900">
                  Likes
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-gray-600">Obten likes en tiktok</p>
              </div>
            </div>
            <div class="group relative flex gap-x-6 rounded-lg text-sm/6 hover:bg-gray-50">
              <div class="mt-1 flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
                  <defs>
                    <linearGradient id="tiktokGradient" x1="0" y1="0" x2="1" y2="1">
                      <stop offset="0%" stop-color="#dc2626" />   <!-- red-600 -->
                      <stop offset="50%" stop-color="#0f0f0f" />  <!-- gray-950 -->
                      <stop offset="100%" stop-color="#22d3ee" /> <!-- cyan-400 -->
                    </linearGradient>
                  </defs>
                  <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" fill="url(#tiktokGradient)"/>
                  <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" clip-rule="evenodd"
                  fill="url(#tiktokGradient)"/>
                </svg>
              </div>
              <div class="flex-auto">
                <a [routerLink]="['/tiktok-views']" class="block font-semibold text-gray-900">
                  Visualizaciones
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-gray-600">Obten vistas en tiktok</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flow-root">
          <button (click)="changeShoppingCart(true)" class="group -m-2 flex items-center p-2 cursor-pointer relative">
            <svg class="size-6 shrink-0 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"></path>
            </svg>
            <span class="ml-1 text-xs font-medium text-gray-50 group-hover:text-gray-100 absolute top-0 right-1 py-0.5 px-1.5 rounded-full bg-gradient-to-r from-purple-400 to-fuchsia-600">0</span>
            <span class="sr-only">items in cart, view bag</span>
          </button>
      </div>
    </div>
  </nav>

  <!-- Menú Mobile-->
  <div  [class]="btnMenu?'block':'hidden'" class="lg:hidden h-screen" role="dialog" aria-modal="true">
    <div class="absolute inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </a>
        <button (click)="showMenu()" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700 cursor-pointer">
          <span class="sr-only">Close menu</span>
          <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">

            <details class="-mx-3 group transition-all duration-300 ease-in-out rounded-lg text-gray-800">
              <summary class="flex w-full items-center justify-between rounded-lg py-2 pr-3.5 pl-3 cursor-pointer font-semibold bg-gradient-to-r from-fuchsia-800/10 via-red-600/10 to-yellow-500/10">
                <div class="flex items-center">
                  <img src="icons/Insta_Black.svg" alt="" class="h-6">
                  <p class="pl-2 bg-gradient-to-r from-fuchsia-800 via-red-600 to-yellow-500 bg-clip-text text-transparent">Instagram</p>
                </div>
                <svg class="size-5 flex-none transition-transform duration-300 group-open:rotate-180" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
              </summary>

              <div class="mt-2 space-y-2 overflow-hidden text-sm font-semibold
                          [&>a]:bg-gradient-to-r [&>a]:from-fuchsia-800/10 [&>a]:via-red-600/10 [&>a]:to-yellow-500/10">
                <a [routerLink]="['/instagram-followers']" class="flex items-center rounded-lg py-2.5 pr-3 pl-4">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 pr-1.5">
                    <path d="M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM3.465 14.493a1.23 1.23 0 0 0 .41 1.412A9.957 9.957 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003Z" />
                  </svg>
                  Seguidores en Instagram</a>
                <a [routerLink]="['/instagram-likes']" class="flex items-center rounded-lg py-2.5 pr-3 pl-4">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 pr-1.5">
                    <path d="m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z" />
                  </svg>
                  Likes en Instagram</a>
                <a [routerLink]="['/instagram-views']" class="flex items-center rounded-lg py-2.5 pr-3 pl-4">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 pr-1.5">
                    <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                    <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" clip-rule="evenodd" />
                  </svg>
                  Visualizaciones en Instagram</a>
              </div>
            </details>

            <details class="-mx-3 group transition-all duration-300 ease-in-out rounded-lg text-gray-800">
              <summary class="flex w-full items-center justify-between rounded-lg py-2 pr-3.5 pl-3 cursor-pointer font-semibold bg-gradient-to-r from-blue-800/10 via-blue-600/10 to-blue-500/10">
                <div class="flex items-center">
                  <img src="icons/Facebook_Black.svg" alt="" class="h-6">
                  <p class="pl-2 bg-gradient-to-r from-blue-800 via-blue-600 to-blue-500 bg-clip-text text-transparent">Facebook</p>
                </div>
                <svg class="size-5 flex-none transition-transform duration-300 group-open:rotate-180" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
              </summary>


              <div class="mt-2 space-y-2 overflow-hidden text-sm font-semibold
              [&>a]:bg-gradient-to-r [&>a]:from-blue-800/10 [&>a]:via-blue-600/10 [&>a]:to-blue-500/10">
                <a [routerLink]="['/facebook-followers']" class="flex items-center rounded-lg py-2.5 pr-3 pl-4">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 pr-1.5">
                    <path d="M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM3.465 14.493a1.23 1.23 0 0 0 .41 1.412A9.957 9.957 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003Z" />
                  </svg>
                  Seguidores en Facebook</a>
                <a [routerLink]="['/facebook-likes']" class="flex items-center rounded-lg py-2.5 pr-3 pl-4">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 pr-1.5">
                    <path d="M1 8.25a1.25 1.25 0 1 1 2.5 0v7.5a1.25 1.25 0 1 1-2.5 0v-7.5ZM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0 1 14 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 0 1-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 0 1-1.341-.317l-2.734-1.366A3 3 0 0 0 6.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 0 1 2.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388Z" />
                  </svg>
                  Likes en Facebook</a>
                <a [routerLink]="['/facebook-views']" class="flex items-center rounded-lg py-2.5 pr-3 pl-4">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 pr-1.5">
                    <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                    <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" clip-rule="evenodd" />
                  </svg>
                  Visualizaciones en Facebook</a>
              </div>
            </details>

            <details class="-mx-3 group transition-all duration-300 ease-in-out rounded-lg text-gray-800">
              <summary class="flex w-full items-center justify-between rounded-lg py-2 pr-3.5 pl-3 cursor-pointer font-semibold bg-gradient-to-r from-black/20 via-gray-700/10 to-cyan-400/10">
                <div class="flex items-center">
                  <img src="icons/TikTok_Black.svg" alt="" class="h-6">
                  <p class="pl-2 bg-gradient-to-r from-red-600 via-gray-950 to-cyan-400 bg-clip-text text-transparent">Tiktok</p>
                </div>
                <svg class="size-5 flex-none transition-transform duration-300 group-open:rotate-180" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
              </summary>

              <div class="mt-2 space-y-2 overflow-hidden text-sm font-semibold
              [&>a]:bg-gradient-to-r [&>a]:from-black/20 [&>a]:via-gray-700/10 [&>a]:to-cyan-400/10">
                <a [routerLink]="['/tiktok-followers']" class="flex items-center rounded-lg py-2.5 pr-3 pl-4">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 pr-1.5">
                    <path d="M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM3.465 14.493a1.23 1.23 0 0 0 .41 1.412A9.957 9.957 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003Z" />
                  </svg>
                  Seguidores en TikTok</a>
                <a [routerLink]="['/tiktok-likes']" class="flex items-center rounded-lg py-2.5 pr-3 pl-4">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 pr-1.5">
                    <path d="m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z" />
                  </svg>
                  Likes en TikTok</a>
                <a [routerLink]="['/tiktok-views']" class="flex items-center rounded-lg py-2.5 pr-3 pl-4">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 pr-1.5">
                    <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                    <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" clip-rule="evenodd" />
                  </svg>
                  Visualizaciones en TikTok</a>
              </div>
            </details>
          </div>
          <div class="py-6">
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Preguntas Frecuentes</a>
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Contacto</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<app-shopping-carts [shoppingCart]="btnShoppingCart" (closeShCart)="changeShoppingCart($event)"/>
<router-outlet/>
