<div
[class]="numberSocialMedia==0?'bg-orange-50/50':numberSocialMedia==1?'bg-gray-100/50':'bg-blue-50/50'"
class="mt-10 max-w-md w-full mx-auto p-4 rounded-3xl transition-colors duration-100">
  <!-- Seguidores -->
  <div class="flex items-center justify-between w-full p-4 bg-white rounded-xl mb-3 shadow-sm hover:bg-gray-50 transition-colors cursor-pointer">
    <div class="flex items-center">
      <div
      [class]="numberSocialMedia==0?'bg-orange-500':numberSocialMedia==1?'bg-gray-700':'bg-blue-600'"
      class="text-white p-1.5 rounded-lg mr-3 transition-colors duration-100">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
          <path d="M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM3.465 14.493a1.23 1.23 0 0 0 .41 1.412A9.957 9.957 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003Z" />
        </svg>
      </div>
      <span class="font-medium text-gray-800">{{socialMedia[numberSocialMedia].followers}}</span>
    </div>
    <i data-lucide="chevron-right" class="w-5 h-5 text-gray-400"></i>
  </div>

  <!-- Likes -->
  <div class="flex items-center justify-between w-full p-4 bg-white rounded-xl mb-3 shadow-sm hover:bg-gray-50 transition-colors cursor-pointer">
    <div class="flex items-center">
      <div [class]="numberSocialMedia==0?'bg-orange-500':numberSocialMedia==1?'bg-gray-700':'bg-blue-600'"
      class="text-white p-1.5 rounded-lg mr-3 transition-colors duration-100">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
          <path d="m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z" />
        </svg>
      </div>
      <span class="font-medium text-gray-800">{{socialMedia[numberSocialMedia].likes}}</span>
    </div>
    <i data-lucide="chevron-right" class="w-5 h-5 text-gray-400"></i>
  </div>

  <!-- Visitas -->
  <div class="flex items-center justify-between w-full p-4 bg-white rounded-xl mb-3 shadow-sm hover:bg-gray-50 transition-colors cursor-pointer">
    <div class="flex items-center">
      <div [class]="numberSocialMedia==0?'bg-orange-500':numberSocialMedia==1?'bg-gray-700':'bg-blue-600'"
      class="text-white p-1.5 rounded-lg mr-3 transition-colors duration-100">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
          <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
          <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" clip-rule="evenodd" />
        </svg>
      </div>
      <span class="font-medium text-gray-800">{{socialMedia[numberSocialMedia].viewers}}</span>
    </div>
    <i data-lucide="chevron-right" class="w-5 h-5 text-gray-400"></i>
  </div>
</div>
