
<div class="relative">
  <app-header/>
  <main  class="max-w-[90rem] m-auto">
    <img src="/icons/Blue.svg" class="absolute left-0 -z-30 opacity-35" alt="">
    <img src="/icons/Rose.svg" class="absolute -z-30 bottom-0 right-0 opacity-35 rotate-180" alt="">
    <img src="/icons/Texture.svg" class="absolute left-0 opacity-10 -z-10 top-0 h-full w-full object-cover" alt="">
    <app-hero/>
    <!-- Caracteristicas -->
    <div class="bg-gradient-to-r from-violet-700 to-purple-400 lg:rounded-2xl sm:mt-20 py-20">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-5xl lg:mx-0 grid grid-cols-1 sm:grid-cols-3 gap-3">
          <div class="sm:col-span-2">
            <h2 class="text-4xl/loose font-semibold tracking-tight text-pretty text-gray-100 sm:text-5xl/loose">¿Por qué nosotros?</h2>
            <p class="mt-6 text-lg/8 text-gray-200">Aquí consigues resultados reales, al instante y sin complicaciones.
              En FamaYa ofrecemos seguidores, likes y vistas 100% auténticos, con entregas rápidas y seguras.
              Olvídate de métodos lentos o ineficaces: nuestros servicios están diseñados para que tu perfil crezca desde el primer segundo.</p>
          </div>
          <div class="hidden sm:block">
            <img src="icons/Man_Love.svg" class="size-72" alt="">
          </div>
        </div>
        <dl class="m-auto mt-14 mb-10 grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none sm:grid-cols-2 lg:grid-cols-4">
            <div class="flex flex-col bg-amber-50/60 p-5 rounded-2xl">
              <dt class="flex flex-col text-center sm:text-start sm:flex-row text-base/7 font-semibold text-gray-800">
                <div class="mx-auto md:mx-0 mb-2 flex size-10 items-center p-1 justify-center rounded-lg text-gray-50 bg-violet-700">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                    <path d="M11.983 1.907a.75.75 0 0 0-1.292-.657l-8.5 9.5A.75.75 0 0 0 2.75 12h6.572l-1.305 6.093a.75.75 0 0 0 1.292.657l8.5-9.5A.75.75 0 0 0 17.25 8h-6.572l1.305-6.093Z" />
                  </svg>
                </div>
                <p class="text-lg mt-3.5 pl-2">Entrega Inmediata</p>
              </dt>
              <dd class="text-center sm:text-start mt-1 font-normal flex flex-auto flex-col text-base/7 text-gray-600">
                <p class="flex-auto">Todos los pedidos se procesan e inician dentro de los 60 segundos posteriores al pago. No tendrá que esperar por nada.</p>
              </dd>
            </div>
            <div class="flex flex-col bg-amber-50/60 p-5 rounded-2xl">
              <dt class="flex flex-col text-center sm:text-start sm:flex-row text-base/7 font-semibold text-gray-800">
                <div class="mx-auto md:mx-0 mb-2 flex size-10 items-center p-1 justify-center rounded-lg text-gray-50 bg-violet-700">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                    <path fill-rule="evenodd" d="M9.661 2.237a.531.531 0 0 1 .678 0 11.947 11.947 0 0 0 7.078 2.749.5.5 0 0 1 .479.425c.069.52.104 1.05.104 1.59 0 5.162-3.26 9.563-7.834 11.256a.48.48 0 0 1-.332 0C5.26 16.564 2 12.163 2 7c0-.538.035-1.069.104-1.589a.5.5 0 0 1 .48-.425 11.947 11.947 0 0 0 7.077-2.75Zm4.196 5.954a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
                  </svg>
                </div>
                <p class="text-lg mt-3.5 pl-2">100% Garantizado</p>
              </dt>
              <dd class="text-center sm:text-start mt-1 font-normal flex flex-auto flex-col text-base/7 text-gray-600">
                <p class="flex-auto">Todos nuestros servicios cuentan con una garantía de por vida. Si experimenta alguna disminución, se lo compensaremos de inmediato.</p>
              </dd>
            </div>
            <div class="flex flex-col bg-amber-50/60 p-5 rounded-2xl">
              <dt class="flex flex-col text-center sm:text-start sm:flex-row text-base/7 font-semibold text-gray-800">
                <div class="mx-auto md:mx-0 mb-2 flex size-10 items-center justify-center p-1 rounded-lg text-gray-50 bg-violet-700">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                    <path fill-rule="evenodd" d="M1 4a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4Zm12 4a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM4 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm13-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM1.75 14.5a.75.75 0 0 0 0 1.5c4.417 0 8.693.603 12.749 1.73 1.111.309 2.251-.512 2.251-1.696v-.784a.75.75 0 0 0-1.5 0v.784a.272.272 0 0 1-.35.25A49.043 49.043 0 0 0 1.75 14.5Z" clip-rule="evenodd" />
                  </svg>
                </div>
                <p class="text-lg mt-3.5 pl-2">Compra Segura</p>
              </dt>
              <dd class="text-center sm:text-start mt-1 font-normal flex flex-auto flex-col text-base/7 text-gray-600">
                <p class="flex-auto">Nos comprometemos a nunca solicitar la contraseña de su cuenta. Su privacidad y seguridad son nuestra principal preocupación.</p>
              </dd>
            </div>
            <div class="flex flex-col bg-amber-50/60 p-5 rounded-2xl">
              <dt class="flex flex-col text-center sm:text-start sm:flex-row text-base/7 font-semibold text-gray-800">
                <div class="mx-auto md:mx-0 mb-2 flex size-10 items-center p-1 justify-center rounded-lg text-gray-50 bg-violet-700">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                    <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
                  </svg>
                </div>
                <p class="text-lg mt-3.5 pl-2">Calidad superior</p>
              </dt>
              <dd class="text-center sm:text-start mt-1 font-normal flex flex-auto flex-col text-base/7 text-gray-600">
                <p class="flex-auto">Ofrecemos servicios de la más alta calidad, sin comprometer nuestros precios, que son los más competitivos del mercado.</p>
              </dd>
            </div>
        </dl>
      </div>
    </div>
    <app-faqs/>
  </main>
  <div class="bg-transparent">
    <div class="overflow-hidden pt-32 sm:pt-14">
      <div class="bg-gradient-to-r from-indigo-500 via-violet-700 to-purple-400">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="relative pt-48 pb-16 sm:pb-44">
            <div class="max-w-md sm:max-w-lg relative z-10">
              <h2 class="text-4xl font-semibold tracking-tight text-pretty text-white sm:text-5xl">¡Solo hoy! Descuento especial en todo</h2>
              <p class="mt-6 text-base sm:text-lg text-gray-300">#1 en España. La máxima calidad en España. Entrega en 60 segundos. Soporte 24/7 en Whatsapp.</p>
              <div class="mt-8 flex items-center gap-x-6">
                <a href="#" class="rounded-md bg-yellow-400 hover:bg-yellow-300 text-black px-3.5 py-2.5 text-sm font-semibold">Seleccionar cantidad</a>
              </div>
            </div>

            <div class="absolute -top-32 left-1/2 min-w-max -translate-x-1/2 transform sm:top-6 sm:translate-x-0">
              <div class="ml-24 flex space-x-6 sm:ml-3 lg:space-x-8">
                <div class="flex space-x-6 sm:flex-col sm:space-y-6 sm:space-x-0 lg:space-y-8">
                  <div class="shrink-0">
                    <img class="size-64 rounded-lg object-cover md:size-72" src="icons/Women_Surprise.svg" alt="">
                  </div>

                  <div class="mt-6 shrink-0 sm:mt-0">
                    <img class="size-64 rounded-lg object-cover md:size-72" src="icons/Man_Guiño.svg" alt="">
                  </div>
                </div>
                <div class="flex space-x-6 sm:-mt-20 sm:flex-col sm:space-y-6 sm:space-x-0 lg:space-y-8">
                  <div class="shrink-0">
                    <img class="size-64 rounded-lg object-cover md:size-72" src="icons/Man_Star.svg" alt="">
                  </div>

                  <div class="mt-6 shrink-0 sm:mt-0">
                    <img class="size-64 rounded-lg object-cover md:size-72" src="icons/Women_Happy.svg" alt="">
                  </div>
                </div>
                <div class="flex space-x-6 sm:flex-col sm:space-y-6 sm:space-x-0 lg:space-y-8">
                  <div class="shrink-0">
                    <img class="size-64 rounded-lg object-cover md:size-72" src="icons/Woman_Punch.svg" alt="">
                  </div>

                  <div class="mt-6 shrink-0 sm:mt-0">
                    <img class="size-64 rounded-lg object-cover md:size-72" src="icons/Man_Like.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer/>
</div>
