<main  class="max-w-[90rem] m-auto">
  <img src="/icons/Blue.svg" class="absolute left-0 -z-30 opacity-35" alt="">
  <img src="/icons/Rose.svg" class="absolute -z-30 bottom-0 right-0 opacity-35 rotate-180" alt="">
  <img src="/icons/Texture.svg" class="absolute left-0 opacity-10 -z-10 top-0 h-full w-full object-cover" alt="">
  <div class="mx-auto max-w-7xl px-6 pt-64 md:pt-52 pb-5  lg:px-8 border">
    <h2>Seguidores de instagram</h2>
    <span>muchas personas están comprando en este momento</span>
    <div class="border flex justify-center gap-5">
      <div class="max-w-xs w-full p-8 border">

      </div>
      <div class="max-w-xs w-full p-8 border">

      </div>
    </div>
  </div>
  <!-- Caracteristicas -->
  <app-characteristics/>
  <app-faqs/>
</main>
<app-banner-discount/>
<app-footer/>
