
<div class="relative">
  <main  class="max-w-[90rem] m-auto">
    <img src="/icons/Blue.svg" class="absolute left-0 -z-30 opacity-35" alt="">
    <img src="/icons/Rose.svg" class="absolute -z-30 bottom-0 right-0 opacity-35 rotate-180" alt="">
    <img src="/icons/Texture.svg" class="absolute left-0 opacity-10 -z-10 top-0 h-full w-full object-cover" alt="">
    <app-hero/>
    <!-- Caracteristicas -->
    <app-characteristics/>
    <app-faqs/>
  </main>
  <app-banner-discount/>
  <app-footer/>
</div>
